.button {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.button #btn-next {
  margin: 2rem 0;
  padding: 1rem 2rem;
  border-radius: 3rem;
  color: white;
  font-weight: bold;
  box-shadow: 0 0 20px #eee;
  background-image: linear-gradient(to right, #134E5E 0%, #71B280 51%, #134E5E 100%);
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  display: block;
  width: 20vw;
}
.button #btn-next:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
.button #btn-original {
  margin: 2rem 0;
  padding: 1rem 2rem;
  color: white;
  box-shadow: 0 0 20px #eee;
  background-image: linear-gradient(to right, #348F50 0%, #56B4D3 51%, #348F50 100%);
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  font-weight: bold;
  width: 20vw;
  border-radius: 3rem;
  display: block;
}
.button #btn-original:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

@media only screen and (max-width: 810px) {
  .button {
    justify-content: space-evenly;
  }
  .button #btn-next {
    width: 40vw;
  }
  .button #btn-original {
    width: 40vw;
  }
}
@media only screen and (max-width: 600px) {
  .button {
    flex-direction: column;
    align-items: center;
  }
  .button #btn-next {
    width: 80vw;
  }
  .button #btn-original {
    width: 80vw;
  }
}
.card {
  background-color: #738c73;
  border-radius: 1rem;
  overflow: hidden;
}

.card-blur {
  opacity: 25%;
  color: #738c73;
}

.main-card {
  margin-top: 2rem;
}
.main-card #recipe-image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-card .title-card {
  margin: 0 2rem;
  padding: 1rem 0;
}

.info-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2rem;
  min-height: 40vh;
}
.info-card .ingredients-card {
  background-color: #738c73;
  width: 40%;
  padding: 1rem;
}
.info-card .video-card {
  width: 50%;
}
.info-card .video-card #video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.description-card {
  margin-top: 2rem;
  min-height: 30vh;
  padding: 1rem;
}
.description-card p {
  padding-top: 1rem;
}

@media only screen and (max-width: 810px) {
  .card {
    width: 80vw;
    margin: 0 auto;
  }
  .main-card {
    width: 100vw;
    border-radius: 0;
    overflow: visible;
    margin: 0;
    padding: 0;
  }
  .info-card {
    margin: 2rem;
    min-height: 20vh;
  }
  .description-card {
    min-height: 20vh;
    padding: 0;
    margin: 2rem;
    padding: 2rem;
  }
}
@media only screen and (max-width: 600px) {
  .info-card {
    flex-direction: column;
  }
  .info-card .ingredients-card {
    width: 80vw;
  }
  .info-card .video-card {
    width: 90vw;
    height: 90vh;
    margin-top: 2rem;
  }
  .description-card {
    margin: 0 2rem;
    width: 90vw;
  }
}
html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #dadada;
  background-image: linear-gradient(0deg, #dadada 0%, #eefaff 100%);
}

h1, h2, h3, h4, h5, h6, p, li {
  color: #F8F9F9;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 2.5rem;
}

p, li {
  font-size: 1rem;
}

.section-hidden {
  opacity: 0;
  transform: translateY(10rem);
}

h2 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

body {
  margin: 0;
}

.container {
  width: 70vw;
  margin: 0 auto;
}

@media only screen and (max-width: 810px) {
  .container {
    width: 100%;
    margin: 0;
  }
}/*# sourceMappingURL=main.css.map */