
// Overall card styling
.card{
    background-color: #738c73;
    border-radius: 1rem;
    overflow: hidden;
}

// Card with recipe img and description
.main-card {
    margin-top: 2rem;
    img {
        width: 100%;
        height: 50vh;
        object-fit: cover;
    }
    .title-card{
        margin: 0 2rem;
        padding: 1rem 0;
    }
}

// Ingredients and video
.info-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2rem;
    min-height: 40vh;
  
    .ingredients-card{
        background-color: #738c73;
        width: 40%;
        padding: 1rem;
    }

    .video-card{
        width: 50%;
    }

    #video{
        width:100%;
        height:100%;
        object-fit: cover;
    }
}

// Recipe description
.description-card {
    margin-top: 2rem;
    min-height: 30vh;
    padding: 1rem ;
    p{
    padding-top:1rem;
    }
}

// For Tablets max-width 810px

@media only screen and (max-width: 810px) {

    .card{
        width: 80vw;
        margin: 0 auto;
    }

    .main-card {
        width: 100vw;
        border-radius: 0;
        overflow:visible;
        margin: 0;
        padding:0;
    }

    .info-card {
        margin: 2rem;
        min-height: 20vh;
    }

    .description-card{
        min-height: 20vh;
        padding: 0;
        margin: 2rem;
        padding: 2rem;
        // overflow: hidden;
    }
}

// For Mobile max-width 600px

@media only screen and (max-width: 600px) {
    .info-card{
        flex-direction: column;
        .ingredients-card{
            width: 90vw;
        }
        .video-card{
            width: 90vw;
            margin-top: 2rem;
            height: 30vh
        }
    }

    .description-card{
        width: 90vw;
      
    }
    #btn-next{
        width: 90vw;
    }
}