.button{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
    #btn-next{
      margin:  2rem 0;
      padding: 1rem 2rem;
      border-radius: 3rem;
      color: white;
      font-weight: bold;
      box-shadow: 0 0 20px #eee;
      background-image: linear-gradient(to right, #134E5E 0%, #71B280  51%, #134E5E  100%);
      text-align: center;
      text-transform: uppercase;
      transition: 0.5s;
      background-size: 200% auto;
      display: block;
      width: 20vw;

      &:hover{
        background-position: right center; /* change the direction of the change here */
        color: #fff;
        text-decoration: none;
      }
    }
    #btn-original{
      margin:  2rem 0;
      padding: 1rem 2rem;
      color: white;
      box-shadow: 0 0 20px #eee;
      background-image: linear-gradient(to right, #348F50 0%, #56B4D3  51%, #348F50  100%);
      text-align: center;
      text-transform: uppercase;
      transition: 0.5s;
      background-size: 200% auto;
      font-weight: bold;
      width: 20vw;
      border-radius: 3rem;
      display: block;
      &:hover{
          background-position: right center; /* change the direction of the change here */
          color: #fff;
          text-decoration: none;
      }
    }
}



// For Tablets

@media only screen and (max-width: 810px) {

  .button{
    justify-content: space-evenly;
      #btn-next{
        width: 40vw;
      }
      #btn-original{
        width: 40vw;
      }
  }
}

// For Mobile

@media only screen and (max-width: 600px) {

  .button {
    flex-direction: column;
    align-items: center;
    #btn-next{
      width: 80vw;
  }
  #btn-original {
    width: 80vw;
  }
  }

}
