.button{
  width: 100%;
  display: flex;
  justify-content: space-between;
    #btn-next{
      margin:  2rem 0;
      padding: 1rem 2rem;
      border-radius: 50px;
      color: white;
      font-weight: bold;
      background-color: cadetblue;
    
      &:hover{
          background-color: rgb(63, 105, 106);
      }
    }
  
    #btn-original{
      margin:  2rem 0;
      padding: 1rem 2rem;
      border-radius: 50px;
      color: white;
      font-weight: bold;
      background-color: rgb(123, 160, 95);
    
      &:hover{
          background-color: rgb(63, 105, 106);
      }
    }
}



// For Tablets

@media only screen and (max-width: 810px) {


    #btn-next{
        width: 50vw;
    }
}
