// Main Colors
$primary-color: #738c73;
$secondary-color: #738C80;
$headings:#738C80;

// font styling

h1, h2, h3, h4, h5, h6, p, li{
    color: #F8F9F9;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6{
    font-size: 2.5rem;
}

p, li{
  font-size: 1rem;
}

.section-hidden {
  opacity: 0;
  transform: translateY(10rem);
}
