/* Colors */

$color-black: #000000;
$color-white: #f9f9f9;

// Buttons
$color-button-primary: #df9916;
$color-button-secondary: #d9d9d9;

// Background
$color-background-brown-dark: #52453d;
$color-background-dark: #cac3b3;
$color-background: #ddd5c2;
$color-background-light: #d9d9d9;

// Hero
$color-hero-primary: #517e64;
$color-hero-secondary: #ddd5c2;
$font-color-hero: #f9f9f9;

// Font colors
$font-color-primary: #f9f9f9;
$font-color-secondary: #273c76;
$font-color-link: #517e64;
